/* ==========================================================================
   MIXINS
   ========================================================================== */
@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
@mixin horizontal-vertical-align($position: relative) {
	position: $position;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
