@import '_normalize.scss';
@import '_base.scss';
@import '_grid.scss';


/* ==========================================================================
   MIXINS
   ========================================================================== */
@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
@mixin horizontal-vertical-align($position: relative) {
	position: $position;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}


/* ==========================================================================
   VARIABLES
   ========================================================================== */
$color_brand: '';
$color_brand_light: '';
$color_brand_dark: '';

$color_black: '';
$color_gray: '';
$color_gray_light: '';

$font_primary: '';
$font_secondary: '';

/* ==========================================================================
   
   ========================================================================== */
html { 
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} 
*, *:before, *:after { 
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

/* Remove border-radius and shadows from iOS-devices */
input[type='text'], input[type='email'], input[type='url'], input[type='submit'], input[type='password'], input.search, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
/* Text rendering */
html {
  text-rendering: optimizeLegibility;
  /*font-feature-settings: "kern"; Does not work with webfonts in IE10 */
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

/* Responsive embed */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Fix responsive image height in IE8 */
html.lt-ie9 img {
	width: auto;
}

/* Fix max-width issue (zoom controls not rendering correctly) with Google Maps */
.gmnoprint img {
    max-width: none; 
}

img {
	max-width: 100%;
}




/* Form elements */
form input[type="text"], 
form input[type="email"], 
form input[type="url"],
form input[type="password"],
form input[type="file"],
form input[type="number"],
form input[type="tel"],
form input.search, 
form textarea {
	border: 1px solid #a7a9ac;
	font-family: $font_secondary;
	font-size: 1rem;
	font-weight: 300;
    padding: 7px 10px 5px;
    vertical-align: bottom;
    width: 100%;
}

form input:focus {
	border: 1px solid #004a83;
	outline:none; 
}

form .form-element {
	display: block;
	margin: 0 0 1rem;
	position: relative;
}
/* Float content inside form-element so they are shown in reverse (needed since the label needs to be placed after the input to make the animations work) */
form .form-element input {
		float: right;
}
form .form-element label {
	display: block;
	float: left;
	width: 100%;
}


/* Search */
.search-box input[type="text"] {
	border: none;
	transition: all .2s ease-in-out;
	width: 100px;
	
	&:focus {
		width: 250px;
	}	
}
.search-box input[type="submit"] {
	background: $color_brand;
	font-family: FontAwesome;
	padding: 10px 10px 9px;

	&:hover {
		background: $color_brand_light;
	}
}








a {
	color: $color_brand;
}
a:active, a:focus {
	color: $color_brand_dark;
}
a:hover {
	color: $color_brand_light;
}



.button-primary, .button-primary--inverted {
	display: inline-block;
	padding: .5rem 3rem;
	text-decoration: none;
}
	.button-primary.fullwidth, .button-primary--inverted.fullwidth {
		text-align: center;
		width: 100%;
	}
.button-primary {
	border: 1px solid $color_brand;
	color: $color_brand;
	
	&.large {
		font-size: 150%;
		padding: 1.5rem 3rem;
    }
}
	.button-primary:hover {
		border: 1px solid $color_brand_light;
		color: $color_brand_light;
	}
.button-primary--inverted {
	border: 1px solid #fff;
	color: #fff;
}
	.button-primary--inverted:hover {
		border: 1px solid #ccc;
		color: #ccc;
	}


blockquote {
	margin: 0;
}
	blockquote p:before {
		content: open-quote;
	}
	blockquote p:after {
		content: close-quote;
	}

ul {
	list-style-type: square;
}


body, button, input, label, textarea {
	font-family: $font_primary;
}
body {
    font-size: 16px;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}
h1 {
	margin: 1rem 0 .5rem;
}
h2 {
	margin: .5rem 0;
}
h3 {
	margin: .3rem 0;
}
h4 {
	margin: .5rem 0 .2rem;
}
h5 {
	margin: .5rem 0 0;
}



p {
	margin: 0 0 1rem;
}
.text-center {
	text-align: center;
}

























/* ==========================================================================
   PAGINATION
   ========================================================================== */
.pagination {
	margin: 1em 0 3em;
	text-align: center;
}
.pagination ul.page-numbers {
	list-style: none;
	padding: 0;
}
.pagination ul.page-numbers li {
	display: inline-block;
}
.pagination ul.page-numbers li a, .pagination ul.page-numbers li .current {
	padding: .5em;
}
.pagination ul.page-numbers li a {
	text-decoration: none;
}
.pagination ul.page-numbers li .current {
	border-bottom: 1px solid #333;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */
.mobile {
	display: block;
}
.tablet-up {
	display: none;
}
.desktop-up {
	display: none;
}


/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}


@media only screen and (min-width: 601px) {
    /* Style adjustments for viewports that meet the condition */
}
@media only screen and (min-width: 768px) {
	
	.mobile {
		display: none;
	}
	.tablet-up {
		display: block;
	}
	
	
	/* Form elements */
	input[type="text"], 
	input[type="email"], 
	input[type="url"],
	input[type="password"],
	input[type="file"],
	input[type="number"],
	input[type="tel"],
	input.search, 
	textarea {
		width: auto;
	}
	form .form-element {
		display: inline-block;
		margin: 0;
	}
	/* Reset float */
	form .form-element input, form .form-element label {
		float: none;
	}
	
	
	form label {
		color: #a7a9ac;
		font-weight: 300;
		left: 10px;
		position:absolute;
		pointer-events:none;
		top: 13px;
		transition: .2s ease all; 
	}
	
	/* active state */
	form .form-element.label-active label {
		left: 0;
		top: -18px;
		font-size: 14px;
		color: #004a83;
	}
}

@media only screen and (min-width: 1025px) {
    
    .desktop-up {
		display: block;
    }
    body {
	    font-size: 19px;
	    line-height: 1.4;
    }
    h1 {
	    font-size: 5rem;
    }
    h2 {
	    font-size: 4rem;
    }
    h3 {
	    font-size: 3rem;
    }
    h4 {
	    font-size: 2rem;
    }
    
}


@media only screen and (min-width: 1300px) {
	
	
	
}
@media only screen and (min-width: 1600px) {
	h1 {
	    font-size: 7rem;
    }
    h2 {
	    font-size: 5rem;
    }
    h3 {
	    font-size: 3.5rem;
    }
    h4 {
	    font-size: 2.5rem;
    }
	
}
@media only screen and (min-width: 1920px) {
	h1 {
	    font-size: 9rem;
    }
    h2 {
	    font-size: 5.3rem;
    }
    h3 {
	    font-size: 3.8rem;
    }
    h4 {
	    font-size: 2.7rem;
    }
	
}
@media only screen and (min-width: 2100px) {
	
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}