/* ==========================================================================
   PAGINATION
   ========================================================================== */
.pagination {
	margin: 1em 0 3em;
	text-align: center;
}
.pagination ul.page-numbers {
	list-style: none;
	padding: 0;
}
.pagination ul.page-numbers li {
	display: inline-block;
}
.pagination ul.page-numbers li a, .pagination ul.page-numbers li .current {
	padding: .5em;
}
.pagination ul.page-numbers li a {
	text-decoration: none;
}
.pagination ul.page-numbers li .current {
	border-bottom: 1px solid #333;
}